.buton-sub {
  color: #fff;
  background-color: #e7422d;
}

.nome-menu {
  margin-left: 45px;
  padding: 9px 0;
  padding-left: 12px;
}
.titulo-porta {
  font-size: 25px;
  padding-bottom: 20px;
  color: #555555;
}

.portas {
  color: #565656a3;
}

.btn-abrir {
  margin-top: 30px;
  color: #fff !important;
  background-color: #e7422d !important;
  border-color: #dc3545 !important;
}

.dropdown-toggle {
  border: 1px solid #ced4da;
  color: #495057;
  background-color: transparent;
}

.no-footer {
  padding: 20px;
  background-color: white;
}
.collapsed {
  border: none;
}
#tbldados_filter:nth-child(2) {
  border-bottom: 5px solid #043e63;
}

.modal-contetn {
  padding: 50px;
  padding-bottom: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #e7422d;
  border-color: #e7422d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff7600;
  border-color: #ff7600;
}

.btn-primary:focus {
  color: #fff;
  background-color: #ff7600;
  border-color: #ff7600;
  box-shadow: none;
}

#btnGrava:active {
  background-color: #e7422d;
  border-color: #e7422d;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ff1d00;
  border-color: #ff1d00;
}

.vermelho {
  color: red !important;
}

.plus_azul {
  color: white;
}

th {
  text-align: center;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #440a03;
  border-color: #8a2113;
}

.alert {
  position: relative;
  padding: 1.48rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.buton-sub:hover {
  color: #fff;
  background-color: #580000;
  border-radius: 10px;
}
